Week0-Search/degrees/__pycache__/util.cpython-310.pyc
Week0-Search/tictactoe/__pycache__/tictactoe.cpython-310.pyc
Week1-Knowledge/knights/__pycache__/logic.cpython-310.pyc
Week1-Knowledge/minesweeper/__pycache__/minesweeper.cpython-310.pyc